<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Predicta</title>

		<!-- Loading third party fonts -->
		<link href="../static/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="../static/style.css">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div class="site-content">
			
			<header class="site-header">
				<div class="container shrinked">
					<a href="{{ url_for('about') }}" class="button">About Us</a>
					<h1 class="logo"><a href="{{ url_for('home') }}">Predicta</a></h1>
					<a href="{{ url_for('model') }}" class="button">Our Model</a>
				</div>	<!-- .container -->
			</header> <!-- .site-header -->

			<main class="main-content">
				<div class="container shrinked">
					<h1 class="section-title">Our <span>Missions</span></h1>

					<div class="entry-content">
						<p>Producers pitch  movie ideas to studios  in the hope of securing financing in the hope of making the next blockbuster, or
							movie theatres need to know which movies will have a higher chance of positive reception.
							Traditionally producing or hosting a blockbuster film was more art than science.</p>

						<p>Our FRRP ML Program enables Producers to better assess and choose which films would be a success and which are likely to flop with greater confidence.
							The market for a FRRP whilst niche it is potentially lucrative.</p>
					</div>

					<div class="team-section row">
						<div class="team">
							<img src="https://ca.slack-edge.com/T01BC9SGVRT-U01DNGUR403-413dfd0ad7cd-192" alt="Zheng" class="team-image" width="172px" height="172px">
							<h2 class="team-name">Zheng</h2>
						</div>
						<div class="team">
							<img src="https://ca.slack-edge.com/T01BC9SGVRT-U01ECAM1E7R-9943bba566a6-512" alt="Heesu" class="team-image" width="172px" height="172px">
							<h2 class="team-name">Heesu</h2>
						</div>
						<div class="team">
							<img src="https://ca.slack-edge.com/T01BC9SGVRT-U01EKQX2E0M-8c3f5bbe8488-512" alt="Welan" class="team-image" width="172px" height="172px">
							<h2 class="team-name">Welan</h2>
						</div>
						<div class="team">
							<img src="../static/dummy/team-1.jpg" alt="Evrard" class="team-image">
							<h2 class="team-name">Evrard</h2>
						</div>
					</div>

				</div>	<!-- .container -->
			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container shrinked">
					
					<div class="social-links">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</div> <!-- .social-links -->

					<div class="colophon">Copyright 2014 Creativo. All right reserved</div>

				</div>	<!-- .container -->
			</footer> <!-- .site-footer -->

		</div>

		<!-- <script src="../static/js/jquery-1.11.1.min.js"></script>
		<script src="../static/js/plugins.js"></script>
		<script src="../static/js/app.js"></script> -->
		
	</body>

</html>